<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="baseConf" status="warn" monitorInterval="30">

    <Properties>
        <Property name="ConsolePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l: %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${ConsolePattern}"/>
        </Console>

<!--        <RollingFile name="RollingFile">-->
<!--            <filename>/data/log/website/website.log</filename>-->
<!--            <filePattern>/data/log/website/$${date:yyyy-MM}/website.log_%d{yyyy-MM-dd}.log.tar.gz</filePattern>-->
<!--            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>-->
<!--            <Policies>-->
<!--                <CronTriggeringPolicy schedule="0/5 * * * * ?" />-->
<!--            </Policies>-->
<!--        </RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>