<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="default" targetRuntime="MyBatis3">

        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>

        <!--optional,旨在创建class时，对注释进行控制-->
        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="org.mariadb.jdbc.Driver"
                        connectionURL="jdbc:mariadb://108.160.139.89:3306/website"
                        userId="snailwu"
                        password="snailwu9595">
        </jdbcConnection>

        <javaTypeResolver>
            <!-- 默认情况下数据库中的 decimal，bigInt 在 Java 对应是 sql 下的 BigDecimal 类 -->
            <!-- 不是 double 和 long 类型 -->
            <!-- 使用常用的基本类型代替 sql 包下的引用类型 -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.snailwu.website.model"
                            targetProject="website/src/main/java"/>

        <sqlMapGenerator targetPackage="mapper" targetProject="website/src/main/resources"/>

        <javaClientGenerator targetPackage="com.snailwu.website.mapper"
                             targetProject="website/src/main/java" type="XMLMAPPER"/>

        <!-- Demo -->
        <table tableName="system_info" domainObjectName="SystemInfo">
        </table>

    </context>
</generatorConfiguration>